body {
    background-color: rgb(155, 155, 155);
    font-family: "Verdana", Times, serif;
    font-size: 100%;
}

div.content h1 {
    font-weight: bold;
    color: #1a1c1d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 0 50px 0;
}

div.content {
    margin: 50px;
}

div.content p {
    font-size: 1.125em;
}

figure {
    border: 2px solid #1e1f21;
    border-radius: 5px;
    background-color: rgb(54, 54, 62);
    padding: 20px 20px 20px 20px;
}

figure img {
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
    margin: 0 0 20px 0;
}

nav, div.header, div.footer {
    background-color: #000;
    border-radius: 5px;
}

nav, div header {
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    border-style: none none none none;
    border-width: 0 0 5px 0;
    border-color: #fff;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.125em;
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

nav ul li a:hover {
    border-style: none none solid none;
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a#thispage {
    border-style: none none solid none;
    border-color: rgba(255, 255, 255, 0.242);
}

div.header h1 {
    font-size: 2em;
    color: #7bafd4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0 20px 0;
    margin: 10px 50px;
    text-transform: uppercase;
}

div.header {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1023947606/thumb/1.jpg?ip=x480");
    text-align: center;
}

div.footer {
    color: #082e4a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin: 20px 0 20px 0;
}

div.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

div.footer a:hover {
    color: #fff;
}

div.footer a:visited {
    color: #fff;
}

div.footer a.cc-list {
    display: inline-block;
}

div.footer img.cc {
    height: 15px !important;
    margin-left: 3px;
    vertical-align: text-bottom;
}
